input {
    width: 60%;
    caret-color: #74b6e6;
}

.search-container {
    display: grid;

}
    
.search-inner {
    margin-left: 400px;
    margin-top: -1rem;
    align-items: center;
    padding: .1rem;
}


.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.dropdown:empty {
    border: none;
}
  
.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}
  
  