input {
    width: 80%;
    caret-color: #74b6e6;
    margin: auto;
}

.search-container {
    display: grid;

}
    
.search-inner {
    margin: auto;
    margin-top: 4rem;
    align-items: center;
    width: 50%;
}


.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.dropdown:empty {
    border: none;
}
  
.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}
  
  